.header {
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(/img/joao-silas-SfkLX6fUObk-unsplash.png);  
      object-fit: contain;
    background-size: cover;
    background-position: center;
    max-width: 1350px;
     width: 100%;
     margin: 0 auto;
    min-height: 620px;
    @media only screen and(max-width:600px) {
        background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(/img/header.png);  
        background-size: cover;
        background-position: center;
        object-fit: contain;
    }
   

    &__box {
        height: 120px;
        display: flex;
        justify-content: center;
        color: white;
        font-size: 15px;
        align-items: center;

@media only screen and(max-width:480px) {
    height: 76px;
    background-color: #f5f6fa;
    color: black;
}
       





        &__navigation {
            width: 85%;
            height: 50px;
            // background: red;

            display: flex;
            justify-content: space-between;

            &__logo {

                flex-basis: 11%;

                display: flex;
                justify-content: space-between;
                // justify-content: center;
                align-items: center;
                span{
                    font-size: 19px;
                    font-weight: 500;
                    @media only screen and(max-width:600px) {
                      
                        font-size: 14px;
                       
                     }

                     @media only screen and(max-width:375px) {
                      
                        font-size: 12px;
                       
                     }

                }
                @media only screen and(max-width:1200px) {
                    flex-basis: 14%;
                 }
                 @media only screen and(max-width:1024px) {
                    flex-basis: 18%;
                 }
                 @media only screen and(max-width:900px) {
                    flex-basis: 25%;
                 }
                 @media only screen and(max-width:768px) {
                    flex-basis: 30%;
                 }
               
                 @media only screen and(max-width:480px) {
                     flex-basis: 36%;
                    font-size: 12px;
                 }
                 @media only screen and(max-width:375px) {
                    flex-basis: 44%;
                    font-size: 10px;
                }


            

                &-img {
                    width: 45px;
                    height: 35px;

                    @media only screen and(max-width:480px) {
                        display: none;
 
                     }
                }
                &-img1 {
                   display: none;

                     @media only screen and(max-width:480px) {
                     

                        display: block;


                        width: 33px;
    height: 28px;
 
                     }
                     @media only screen and(max-width:375px) {
                     

                        


                        width: 27px;
                        height: 24px;
 
                     }
    
    

                   

                }

            }

            &__tabs {
               
                flex-basis: 53%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                @media only screen and(max-width:900px) {
                    flex-basis: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: right;
                 }
                    &-list
                    {
                        @media only screen and(max-width:600px) {
                            display: none; 
                         }
                        display: flex;
                        justify-content: space-evenly;
                        text-decoration: none;
                        list-style: none;
                        flex-basis: 80%;
                        &-link
                        {
                            font-size: 15px;
                            text-decoration: none;
                            font-weight: 500;
                           
                        }

                    }
                    &-icons {

                        // background: pink;
                        flex-basis: 24%;
                        display: flex;
                        justify-content: space-between;
                        @media only screen and (max-width:900px) {
                           display: none;
                        }
                     }
                 

                
                }

          

        }
    }
    &__main
    {  
        display: flex;
        flex-direction: column;
        font-weight: bold;
        margin-left: 19%;
        @media only screen and(max-width:600px) {
            margin-top: 13%;
            height: 262px;
        }
        @media only screen and(max-width:480px) {
            margin-left: 8%;
            
            margin-top: 34%;
            
        }
        // padding: 10px;
        color: white;
        justify-content: space-between;
        height: 323px;
        // position: relative;
        &__text
        {
            display: flex;
        
        
          
        
            flex-direction: column;


            p{
                font-size: 70px;
                line-height: 1.14;
          
            @media only screen and(max-width:768px) {
                font-size: 55px;
    

            }
            @media only screen and(max-width:600px) {
                font-size: 41px;
    line-height: 1.63;

}
            }

        }
        &__button
        {
            display: flex;
            font-size: 13px;
            width: 110px;
            justify-content: space-between;
            text-align: center;
            align-items: center;
            
            @media only screen and (max-width:480px) {
                width: 117px; 
            }


            &-anchor
            {
                display: flex;
                border-radius: 10px;
                background-color: #fbb03b;
                width: 30px;
                height: 30px;
                justify-content: center;
                text-align: center;
                font-weight: 600;
                align-items: center;
                border-radius: 50%;
                p {
                    font-size: 12px;
    font-weight: 600;
                }
                @media only screen and(max-width:480px) {
                    width: 40px;
                    height: 40px; 
                }
   
            }
            &-img
            {
                width: 15px;
                height: 15px;
            }

        }

    }
}
// .max-width{
//     max-width: 1336px;
//     width: 100%;

// }
.range
{
    display: flex;
    flex-direction: column;
    max-height: 350px;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
    width: 20px;
    @media only screen and (max-width:900px) {
        display: none;
    }
    // background-color: red;
    &__1
    {
        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 20px;
       align-items: center;
        height: 138px;
        span{
color: white;
        }
        &-line{
            width: 2px;
            height: 115px;
            background-color: white;
        }
    }
    &__2
    {
        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 20px;
       
        height: 192px;
        span{
            color: white;
                    }
        &-line{
            width: 2px;
            height: 170px;
            opacity: .5;
            background-color: white;
        }
    }
}
.hero-text
{
    display: flex;
    
    max-width: 645px;
    width: 100%;
}